<div class="container">
  <div class="row">
    <div class="col">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-md-7 border-left border-right pt-2">
      <div class="d-flex justify-content-around">
        <div class="text-center">
          <%= attachment_image_tag @user, :profile_image, size: "50x50", fallback: "user-gf1c075314_1280.png", class:"rounded-circle" %>
          <h3><%= @user.name %></h3>
        </div>

        <div class="button<%= @user.id %>">
          <%= render "relationships/button", user: @user %>
        </div>

        <div>
          <%= link_to "Edit", edit_user_path(@user.id), class:"btn btn-dark" %>
        </div>
      </div>
      <div class="text-center">
        <h1>自分の投稿</h1>
        <%= render "hobbies/list", hobbies: @hobbies, user: @user %>
      </div>
    </div>
    <div class="col text-center">
      <%= render "layouts/recommendation", hobby: @osusume, user: @user %>
    </div>
  </div>
</div>