<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="navigation">
            <ul class="nav flex-column">
              <li><%= link_to "My Page", user_path(@user.id), class:"nav-link text-light" %></li>
              <li><%= link_to "Book Mark", sports_path, class:"nav-link text-light" %></li>
              <li><%= link_to "About", movies_path, class:"nav-link text-light" %></li>
              <li><%= link_to "運営へ連絡", sightseeing_path, class:"nav-link text-light" %></li>
              <li><%= link_to "利用規約", books_path, class:"nav-link text-light" %></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-md-7 mt-1 d-flex justify-content-center">
      <div>
        <%= attachment_image_tag @user, :profile_image, size: "50x50", class:"ml-2 rounded-circle mt-3" %>
      </div>
      <div>
        <h3 class="mt-4 ml-2"><%= @user.name %></h3>
      </div>
      <div>
        <%= link_to "Edit", edit_user_path(@user.id), class:"btn btn-dark fas fa-user-cog mt-4 ml-5" %>
      </div>
    </div>
    <div class="col">
      <h1>おすすめ</h1>
    </div>
  </div>
</div>