<% @hobbies.each do |hobby| %>
  <div class="border p-4">
    <div class="ml-5 d-flex justify-content-between">
      <%= link_to user_path(hobby.user.id) do %>
        <%= attachment_image_tag hobby.user, :profile_image, size: "50x50", fallback: "user-gf1c075314_1280.png", class:"rounded-circle" %>
        <strong><p class="text-dark"><%= hobby.user.name %></p></strong>
      <% end %>
      <p id="hobby-rate-<%=hobby.id %>">
        初心者おすすめ度
      </p>
    </div>

    <!-- ユーザー情報 -->
    <div class="text-center mb-2">
      <strong><%= link_to hobby.title, hobby_path(hobby.id), class:"text-dark" %></strong>
      (<%= hobby.name %>)
      <%= link_to "コメント#{hobby.comments.count}件", hobby_path(hobby.id), class:"text-dark" %> <!--コメント数 -->
      <% if hobby.user == current_user || current_user.admin? %> <!--削除機能 -->
        <%= link_to "削除", hobby_path(hobby), method: :delete, class:"btn btn-danger" %>
      <% end %>
    </div>

    <div class="text-center">
      <%= link_to hobby_path(hobby.id) do %>
        <%= attachment_image_tag hobby, :image, format: 'jpg', size: "350x300" %>
      <% end %>
    </div>
    <div class="text-right">
      <% if hobby.favorited_by?(current_user) %>
        <%= link_to hobby_favorites_path(hobby), method: :delete do %>
          <i class="btn btn-light fas fa-bookmark"></i>
        <% end %>
      <% else %>
        <%= link_to hobby_favorites_path(hobby), method: :post do %>
          <i class="btn btn-light far fa-bookmark"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <script>
    $('#hobby-rate-<%= hobby.id %>').raty({
      size: 36,
      half: true,
      readOnly: true,
      score: "<%= hobby.rate %>",
      path: '/assets/'
    });
  </script>
<% end %>