<% @hobbies.each do |hobby| %>
  <!-- ユーザー情報 -->
  <div class="border p-4">
    <div class="ml-5 d-flex justify-content-between">
      <div class="text-center">
        <%= link_to user_path(hobby.user.id) do %>
          <%= attachment_image_tag hobby.user, :profile_image, size: "50x50", fallback: "user-gf1c075314_1280.png", class:"rounded-circle" %>
          <strong><p class="text-dark"><%= hobby.user.name %></p></strong>
        <% end %>
      </div>
      <p id="hobby-rate-<%=hobby.id %>">
        おすすめ度
      </p>
      <%= hobby.created_at.to_s(:datetime_jp) %>
    </div>

    <!-- 投稿内容 -->
    <div class="text-center mb-2">
      <strong><%= link_to hobby.title, hobby_path(hobby.id), class:"text-dark" %></strong>
      (<%= hobby.name %>)
      <%= link_to "コメント#{hobby.comments.count}件", hobby_path(hobby.id), class:"text-dark" %> <!--コメント数 -->
      <% if hobby.user == current_user || current_user.admin? %> <!--削除機能 -->
        <%= link_to "削除", hobby_path(hobby), method: :delete, class:"btn btn-danger" %>
      <% end %>
    </div>

    <div class="text-center">
      <%= link_to hobby_path(hobby.id) do %>
        <%= attachment_image_tag hobby, :image, format: 'jpg', size: "300x250", fallback: "user-gf1c075314_1280.png" %>
      <% end %>
    </div>

    <div class="d-flex justify-content-around mt-3">
    <!-- いいね機能 -->
      <div class="text-center">
        <div class="like-btn<%= hobby.id %>">
          <%= render 'likes/like-btn', hobby: hobby %>
        </div>
      </div>
      <!-- ブックマーク機能 -->
      <div class="text-right">
        <div class="bookmark-btn<%= hobby.id %>">
          <%= render "favorites/bookmark-btn", hobby: hobby %>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#hobby-rate-<%= hobby.id %>').raty({
      size: 36,
      half: true,
      readOnly: true,
      score: "<%= hobby.rate %>",
      path: '/assets/'
    });
  </script>
<% end %>