<div class= "container">
  <div class = "row">
    <div class="col">
      <% @hobbies.each do |hobby| %>
        <div class="text-center">
          <%= hobby.title %>
          <%= hobby.name %>
          <%= hobby.good_part %>
          <%= hobby.bad_part %>
          <%= hobby.introduction %>
        </div>
      <% end %>
    </div>
  </div>
</div>