<div class="container">
  <div class="row">
    <div class="col">
      <!-- サイドバー -->
      <%= render "layouts/sidebar" %>
    </div>

    <div class="col-md-7 border-left border-right pt-2">
      <!-- 投稿フォーム -->
      <div class="border">
        <h1 class="text-center">Sightseeing</h1>
        <%= form_with model: @hobby, url:hobbies_path, local:true do |f| %>
          <%= f.hidden_field :category, :value => "sightseeing" %>
          <div class="text-center">
            <%= f.text_field :title, placeholder:"一言", class:"bg-transparent"%>
            <%= f.text_field :name, placeholder:"観光地名", class:"bg-transparent" %>
          </div>
          <div class="text-center m-3">
            <%= f.text_field :good_part, placeholder:"良い点", class:"bg-transparent" %>
            <%= f.text_field :bad_part, placeholder:"悪い点", class:"bg-transparent"%>
          </div>
          <div class="text-center" id="rate_stars">
            <label>初心者おすすめ度</label>
          </div>
          <div class="text-center m-3">
            <%= f.attachment_field :image %>
          </div>
          <div class="text-center">
            <%= f.text_area :introduction, placeholder:"おすすめポイント", size: "40x5", class:"bg-transparent" %>
          </div>
          <div class="text-center mb-5">
            <input type="submit" name"commit" value="投稿" class="btn btn-primary" data-disable="Create Hobby" />
          </div>
        <% end %>
      </div>
      <script>
        $('#rate_stars').raty({
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'hobby[rate]'
        });
      </script>

      <!-- 投稿一覧 -->
      <%= render "hobbies/list", hobbies: @hobbies, user: @user %>
    </div>

    <div class="col">
      <!-- おすすめ一覧 -->
      <h1>おすすめ</h1>
    </div>
  </div>
</div>