<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="text-center">Log in</h2>
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class="field text-center">
          <div>
            <%= f.label :email %>
          </div>
          <div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class="field text-center">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field text-center">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="text-center">
          <div class="mb-3">
            <%= f.submit "Log in", class:"btn btn-light btn-lg text-dark rounded-pill" %>
          </div>
          <div>
            <%= link_to new_user_registration_path do %>
              <h2 class="btn btn-light btn-lg text-dark rounded-pill">新規登録画面</h2>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>